
<div class ="container">
	<h1>Resources and Links</h1>
	
	<% @blogs.each do |blog| %>
	
		<div class="row">
			<br>
			<br>
	 		 <div class="profile span3 offset2" width= "250" height= "500" >
				<%= blog.post_title %> </p>
			    </div>
				<div class="profile span6 offset5" width= "500" height= "200" >
					<%= blog.text %> %>  
					<br>
			    </div>
			</div>
    <%= link_to 'Edit', edit_blog_path(blog) %>
<% end %>

<br />

<%= link_to 'New Link', new_blog_path %>
