

		<div class ="container">
			<br>
			<br>
			<% @blogs.each do |blog| %>
			<div class= "row">								
			<div class="span9 offset3">
		    	<h3><%= blog.post_title %></h3>
			    		<br>
					<%= raw simple_format(blog.text) %>
			</div>
			</div>
		<br>
<% end %>
<br>
</div>
</div>
