<div class ="container">
		<div class="row">
			<br>
			<br>
	    <div class="profile span4 offset4" >
	      <width= "250" height= "500"/>
	   	  <h1><%= @blog.post_title %></h1>
	    </div>
		
		<div class="profile span6" >
		  <%= @blog.text %>
	    </div>
		  
	</div>
	</div>