0B7tWnRpoXC-zNjFkNDMxZTQtN2FlZC00ODBiLTg3ZTgtZDYwMDY3Yzc5MDM2&hl=en_US&embedded=true

<%= image_tag @project.project_pic_large.url %>	     
<!-- <%= image_tag project.project_pic_small.url %>	      -->


<div bgcolor="white" lang="EN-US">

<div>

<h2 align="center" style="margin-bottom:3.0pt;text-align:center"><span style="font-size:16.0pt">Jaci Harris</span></h2>

<p align="center" style="text-align:center"><span style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;"><a href="mailto:jacischneider@gmail.com" target="_blank">jacischneider@gmail.com</a>
• 3920 Yarborough Avenue, Austin, Texas 78744 • (512) 704-2593</span></p>

<p><span style="position:relative;left:-19px;top:8px;width:522px;height:11px"><img width="522" height="3" src="http://Jaci%20Harris%20Resume_files/image001.png"></span><span style="font-family:&quot;Times New Roman&quot;"> </span></p>

<br clear="all">

<h2 style="margin-bottom:6.0pt">Education</h2>

<p><span style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;"><i>University
of Texas at Austin</i></span></p>

<p><span style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;">Master
of Science in Information Science, August 2012, GPA 3.9</span></p>

<p><span style="font-size:8.0pt"> </span></p>

<p><span style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;"><i>Abilene
Christian University</i></span><span style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;"></span></p>

<p><span style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;">Bachelor
of Science in Journalism and Mass Communication, minor in English, May 2006,
GPA: 4.0</span></p>

<p><span style="position:relative;left:-18px;top:5px;width:524px;height:8px"><img width="524" height="3" src="http://Jaci%20Harris%20Resume_files/image002.png"></span><span style="font-family:&quot;Times New Roman&quot;"> </span></p>

<br clear="all">

<h2>Experience</h2>

<p style="margin-top:6.0pt"><span style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;"><b>Sheshunoff Information Services<span>                      <WBR>                      </span><span>                              <WBR>      </span>Nov.
'10 – present</b></span></p>

<p><span style="font-family:&quot;Times New Roman&quot;"><i>Desktop Publisher of banking compliance and legal manuals<span>  </span><b><span>                        </span></b></i></span><span style="font-family:&quot;Times New Roman&quot;"><i> <span>           </span>Austin,
TX</i></span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;">Perform
final proofs of banking regulation books; format updates for Web use</span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;">Complete
publishing tasks using Adobe and Microsoft software </span></p>

<p style="margin-top:12.0pt"><span style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;"><b>David C Cook<span>                          <WBR>                              <WBR>                              <WBR>                       </span>June
'07 – present</b></span></p>

<p><span style="font-size:11.0pt;font-family:&quot;Times New Roman&quot;"><i>Project
Manager and Contractor<span>                    <WBR>                              <WBR>                               </span>Colorado
Springs, CO</i></span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  

</span></span><span style="font-family:&quot;Times New Roman&quot;">Managed
3-month prepress process for 30-40 books per year, meeting deadlines and
ensuring high quality<i></i></span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;">Copyedited
books, workbooks, and DVDs, liaised with authors, editors, agents<i></i></span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;">Evaluated
and improved editorial processes and schedules as needed</span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;">Hired and
managed freelance proofreaders and ensured payments for each project<i></i></span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;">Proofread
and copyedit manuscripts on a freelance basis</span></p>

<p><span style="font-family:&quot;Times New Roman&quot;">Health
Networking Project, Ministry of Health,<span>                       <WBR>                              <WBR>  </span>Aug.
'06 – Dec. '06 </span><span style="font-family:&quot;Times New Roman&quot;;font-weight:normal"><i>Project Administrator<span>                 <WBR>                              <WBR>                              <WBR>                      </span>Wellington,
NZ</i></span><span style="font-size:14.0pt;font-family:&quot;Times New Roman&quot;;font-weight:normal"><i></i></span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;">Created
processes and ensured standards for major government project to build connected
health network</span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;">Planned
meetings and events with international team members and local telecommunication
stakeholders</span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;">Facilitated
communication between Cisco team members and government employees<b></b></span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  

</span></span><span style="font-family:&quot;Times New Roman&quot;">Created
glossary of technical terms; drafted 60-page closure report for completion of
project<b></b></span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;">Used Visio
to complete team members' project and presentations<b></b></span></p>

<p><span style="font-family:&quot;Times New Roman&quot;">ACU
Journalism Department <span>                              <WBR>                              <WBR>                              <WBR>      </span>Aug.
'05 – June '06</span></p>

<p style="margin-top:0in"><span style="font-family:&quot;Times New Roman&quot;;font-weight:normal"><i>Writing Lab Instructor and Design Lab Instructor<span>                    <WBR>                              <WBR>      </span>Abilene,
TX</i></span><span style="font-size:14.0pt;font-family:&quot;Times New Roman&quot;;font-weight:normal"><i></i></span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;">Taught
basic design principles to 14 students; taught basic news writing to 22
students</span></p>

<p><span style="font-family:&quot;Times New Roman&quot;"><i>The
Optimist</i></span><span style="font-family:&quot;Times New Roman&quot;"> Newspaper<span>                     <WBR>                              <WBR>                              <WBR>            </span>Aug.
'04 – May '06</span></p>

<p style="margin-top:0in"><span style="font-family:&quot;Times New Roman&quot;;font-weight:normal"><i>Chief Copy Editor, Opinion Editor, Reporter<span>                      <WBR>                              <WBR>            </span>Abilene,
TX</i></span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;">Wrote two
news stories weekly; wrote features, opinion pieces monthly</span></p>

<p><span style="font-family:&quot;Times New Roman&quot;"><i>The Mail
Tribune</i></span><span style="font-family:&quot;Times New Roman&quot;"> Newspaper<span>                     <WBR>                              <WBR>                              <WBR>     </span>June
– Aug. '04 </span><span style="font-family:&quot;Times New Roman&quot;;font-weight:normal"><i>Reporter<span>        </span><span>                              <WBR>                              <WBR>                              <WBR>                  </span>Medford,
OR</i></span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;">Researched
and interviewed subjects; wrote articles in all newspaper sections</span></p>

<p><span style="position:relative;left:-19px;top:9px;width:516px;height:12px"><img width="516" height="3" src="http://Jaci%20Harris%20Resume_files/image003.png"></span><span style="font-family:&quot;Times New Roman&quot;"><b> </b></span></p>

<br clear="all">

<p style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:0in"><span style="font-family:&quot;Times New Roman&quot;"><b>Project and
Community Service</b></span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;"><b>Market researcher (spring 2010)</b></span><span style="font-family:&quot;Times New Roman&quot;"> for local wind-energy company; researched international wind energy </span></p>

<p><span style="font-family:&quot;Times New Roman&quot;"><b><span>    </span></b></span><span style="font-family:&quot;Times New Roman&quot;">usage, airspace regulations, and weather patterns. Delivered an annotated PowerPoint presentation and master </span></p><p><span style="font-family:&quot;Times New Roman&quot;"><span> </span>spreadsheet with all data and sources and a "next steps" report.</span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;"><b>Reference intern (fall 2010 – present) </b></span><span style="font-family:&quot;Times New Roman&quot;">at the Austin Public Library, central branch; answer reference inquires, </span></p>

<p><span style="font-family:&quot;Times New Roman&quot;"><b><span>    </span></b></span><span style="font-family:&quot;Times New Roman&quot;">provide customer service, assist patrons.</span></p>

<p style="margin-left:0in;text-indent:0in"><span style="font-family:Symbol">•<span style="font:7.0pt &quot;Times New Roman&quot;">  
</span></span><span style="font-family:&quot;Times New Roman&quot;"><b>Reference volunteer</b></span><span style="font-family:&quot;Times New Roman&quot;"> <b>(spring 2010)</b></span><span style="font-family:&quot;Times New Roman&quot;"> for the Internet Public Library; answered queries from international users </span></p>

<p><span style="font-family:&quot;Times New Roman&quot;"><b><span>    </span></b></span><span style="font-family:&quot;Times New Roman&quot;">about various topics via an online library system</span></p>

</div>

</div>


</body></html>