
<div class ="container">
		<br><br>
		<div class="row">
			<br>
	    <div class="profile span4 offset2">
	      <img src= "/assets/website.jpg" width= "200" height= "377"/>	     
	    </div>

		<div class="profile span5"/>
		<br><br><br><br><br><br>
		<h7>Thank you for visiting my site! I am Jaci Harris (formerly
			Jaci Schneider), and I am an information science student,
			an editor, a writer, and a library intern. <br><br>
			On this site you can find my résumé, my professional goals,
			and summaries of projects I’ve worked on.
			Please <a href="http://cold-earth-4993.heroku.com/contact_page"> contact me</a> for more information. </h7>
	    </div>
	</div>
	</div>