<div class ="container">
		<div class="row">
			<br>
			<br>
	    <div class="profile span4 offset1" >
			<iframe src="https://docs.google.com/viewer?authuser=0&srcid=0B4ZWu2Q8faGEMlNncGhwczJHTUk&pid=explorer&a=v&chrome=false&embedded=true" width="800" height="700" style="border: none;"></iframe>
		</div>
</div>
<div class="row">
<div class="offset2" >
<br>
<h6>Click <a href="https://s3.amazonaws.com/jaci-harris/Jaci+Harris+Resume.pdf"> here to download </a> a PDF version of Jaci's resume.</h6>
</div>
</div>
</div>