<div class ="container">
		<div class="row">
			<br>
			<br>
	    <div class="profile span4 offset4" >
	      <img src= "/assets/jaci.jpg" width= "267" height= "500"/>	     
	    </div>
		
		<div class="profile span6" >
	      <img src="http://placehold.it/500x500/ffffff&text=350+x+500+...+contact+jaci+by+email+form" alt="" />
	    </div>
		  
	</div>
	</div>