<div class ="container">

<% @projects.each do |project| %>

<p id="notice"><%= notice %></p>
		<div class="row">
			<br>
	    <div class="profile span3 offset2" width= "170" height= "200" >
		<%= image_tag project.avatar(:small) %> </p>
	    </div>
		<div class="profile span8" width= "500" height= "200" >
			<%= raw simple_format(project.project_summary) %>  
			<br>
			<%= link_to 'See Project Details', project %>	
	    </div>		  
	</div>
<% end %>
</div>

