

		<div class ="container">
			<br>
			<br>
			<% @goals.each do |goal| %>
			<div class= "row">								
			<div class="span9 offset3">
		    	<h3><%= goal.goal_header %></h3>
			    		<br>
					<%= raw simple_format(goal.goal) %>
			</div>
			</div>
		<br>
<% end %>
<br>
</div>
</div>
