<style type= "text/css">
.span9 {
background-color:#ffffff;
margin: 0px 0px 0px 0px;
}

</style>

		<div class ="container">
			<br>
			<br>
			<% @goals.each do |goal| %>
			<div class= "row">								
			<div class="span9 offset3">
		    	<h3><%= goal.goal_header %></h3>
			    		<br>
					<h3><%= raw simple_format(goal.goal) %></h3>
			</div>
			</div>
		<br>
<% end %>
<br>
<%= link_to 'New Goal', new_goal_path %>
</div>
</div>
