<style type= "text/css">
.span9 {
background-color:#ffffff;
}
</style>

<p id="notice"><%= notice %></p>

<div class="container">
		<br>
		<br>
	<div class= "row">
	    <div class="span9 offset3">
	   	<h1><%=@goal.goal_header %></h1>
	    </div>
		</div>
	<div class= "row">
		<div class="span9 offset3" >
		  <h3> <%=raw simple_format(@goal.goal) %> </h3>
	    </div>
		</div>
	<div class= "row">
	<div class= "span9 offset3">
<%= link_to 'Back to Professional Goals', goals_path %>
</div>
</div>
